.env
config/authelia/secrets/
config/authelia/config/db.sqlite3
config/authelia/config/notification.txt
config/authelia/config/users.yml
config/sonarr/*
config/radarr/*
config/prowlarr/*
config/traefik/letsencrypt