config/traefik/letsencrypt
.env
config/sonarr/*
config/radarr/*
config/prowlarr/*
config/authelia/secrets/*
config/authelia/config/users.yml
config/authelia/config/db.sqlite3
config/authelia/config/notification.txt